<div class="page-header">
  <h1>Actionable <small>suggest, vote, act</small></h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <add-new></add-new>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <h3>Opened</h3>

    <action-item ng-repeat="(name, item) in items | orderByPriority | filter:'!owner' | orderBy:'votes':true" item="item"></action-item>
  </div>

  <div class="col-sm-6">
    <h3>Assigned</h3>

    <action-item ng-repeat="item in items | orderByPriority | filter:'owner' | orderBy:'votes':true" item="item"></action-item>
  </div>
</div>